body { 
  color: #666; 
  background: #f3f3f3; 
  font: normal 10px "Helvetica Neue", Helvetica, sans-serif; 
  margin: 2em; 
}
#map {
  border:2px solid #000;
  width:960px;
  height:550px;
}
.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .1px;
  stroke-linejoin: round;
  cursor: pointer;
}

.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

rect {
  fill: none;
  pointer-events: all;
}

